<a href="https://colab.research.google.com/github/Alejandro-A-DS/Web_scraping_python/blob/main/M3_AI2_AlvaradoSergio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tarea 3.2: Web Scraping de Películas
---
El objetivo de esta actividad es obtener información sobre las películas a partir de la base de datos de [IMDB](https://www.imdb.com/). En concreto se pide mostrar los siguientes datos de las primeras 50 películas de del género Comedia en español:
- Nombre: Nombre de la película.
- Rating: Puntuación media de la película en IMDB (si la tiene).
- Votos: Número de votos.

A partir de la siguiente URL donde se lista las comedias (comedy) en español (spanish): https://www.imdb.com/search/title/?genres=comedy&languages=es contesta las siguientes preguntas:
1. Mediante el inspector de código del navegador, obtén y anota el selector CSS de los siguientes datos de la primera película:

* Nombre

* Puntuación del Rating (estrellas) de IMDB.

* Número de votos (votes).

2. Identifica la parte común a los 3 selectores CSS del apartado 1 y la parte específica (última parte no común del selector CSS).

3. Construye la estructura de árbol de nodos sobre la página de búsqueda proporcionada al inicio del ejercicio:  tree = html.document_fromstring(source.read())

4. Crea una lista de resultados la siguiente consulta CSS:  
resultado = tree.cssselect("div.lister-item-content")
¿Cuántos elementos tiene tu lista? :  len(resultado)

5. Construye un bucle que recorra la lista: resultado y que en cada elemento: resultado_i de la lista, realice 3 búsquedas: busquea_1, búsqueda_2 y búsqueda_3, una para cada selector CSS, utilizando sólo la parte específica del selector del apartado 2.

6. Para cada búsqueda realizada: busquea_1, búsqueda_2 y búsqueda_3, revisa si la nueva lista obtenida tiene longitud mayor que cero y en caso positivo, selecciona el primer elemento de la lista y haz un print de su contenido de texto: busquea_1[0].text_content()

7. Guarda los resultados obtenidos de forma iterativa en un data frame que tenga como resultado 50 filas y las 3 columnas con los datos solicitados en el apartado 1.

## 3.2.1 Mediante el inspector de código del navegador, obtén y anota el selector CSS de los siguientes datos de la primera película:
* Nombre.
* Puntuación del Rating (estrellas) de IMDB.
* Número de Votos.
---
Abriendo el inspector de código de la página en español y revisar el código HTML del nombre, el rating y el número de votos se obtienen los siguientes selectores de css:

1. **Nombre**: main > div > div.lister.list.detail.sub-list > div > div:nth-child(1) > div.lister-item-content > h3 > a
2. **Rating**: main > div > div.lister.list.detail.sub-list > div > div:nth-child(1) > div.lister-item-content > div > div.inline-block.ratings-imdb-rating > strong
3. **Votos**: main > div > div.lister.list.detail.sub-list > div > div:nth-child(1) > div.lister-item-content > p.sort-num_votes-visible > span:nth-child(2)

## 3.2.2  Identifica la parte común a los 3 selectores CSS del apartado 1 y la parte específica (última parte no común del selector CSS).
---
La parte común entre los 3 selectores css es:

* main > div > div.lister.list.detail.sub-list > div > div:nth-child(1) > div.lister-item-content

La parte específica para cada selector css del nombre de la primera película es:

* h3 > a

La parte específica para cada selector css del rating de la primera película es:

* div > div.inline-block.ratings-imdb-rating > strong

La parte específica para cada selector css del número de votos de la película es:

* p.sort-num_votes-visible > span:nth-child(2)

##3.2.3 Construye la estructura de árbol de nodos sobre la página de búsqueda proporcionada al inicio del ejercicio:  tree = html.document_fromstring(source.read())
---
Para crear el objeto `tree` es necesario instalar la librería `cssselect` e importar las librerías `urllib` y `lxml`:

In [ ]:
# Instalación de la librería cssselect

!pip install cssselect

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting cssselect
  Downloading cssselect-1.2.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: cssselect
Successfully installed cssselect-1.2.0

In [ ]:
# Librerías necesarias para la elaboración del ejercicio

from urllib.request import urlopen

source = urlopen('https://www.imdb.com/search/title/?genres=comedy&languages=es')

from lxml import html
from lxml import cssselect
import numpy as np
import pandas as pd

In [ ]:
# objeto tree

tree = html.document_fromstring(source.read())

## 3.2.4 Crea una lista de resultados la siguiente consulta CSS:  `resultado = tree.cssselect("div.lister-item-content")` ¿Cuántos elementos tiene tu lista? :  `len(resultado)`
---

In [ ]:
# Objeto resultado

resultado = tree.cssselect("div.lister-item-content")

In [ ]:
# Número de elementos de resultado

print(f"Número de elementos en resultado: {len(resultado)}")

Número de elementos en resultado: 50

## 3.2.5 Construye un bucle que recorra la lista: resultado y que en cada elemento: resultado_i de la lista, realice 3 búsquedas: busquea_1, búsqueda_2 y búsqueda_3, una para cada selector CSS, utilizando sólo la parte específica del selector del apartado 2.
---
Antes de realizar el bucle que recorra el elemento `resultado` se va a hacer la selección del nombre, rating y número de votos para la primera película:

In [ ]:
# Nombre de la primera película

resultado[0].findall('h3')[0].findall("a")[0].text_content()

'Babylon'

In [ ]:
# Rating de la primera película

resultado[0].findall('div')[0].findall('div')[0].findall("strong")[0].text_content()

'7.3'

In [ ]:
# Número de votos de la primera película

resultado[0].findall('p')[3].findall("span")[1].text_content()

'90,326'

Es importante resaltar que en para llegar a los resultados anteriores se tuvo en cuenta el resultado de la página (para comparar resultados) y para encontrar el número de votos se iteró entre el tag `p` para poder encontrar el resultado ideal. Ya habiendo verificado los resultados obtenidos se puede proceder a realizar el bucle para presentar todos los resultados de las películas.

Igualmente, se verificará si en cada lista (nombre, rating y votos) hay efectivamente 50 elementos, de lo contrario, hay datos faltantes:

In [ ]:
cantidad_nombres = 0
cantidad_rating = 0
cantidad_votos = 0

for i in range(len(resultado)):

  try:
    resultado[i].findall('h3')[0].findall("a")[0].text_content()
    cantidad_nombres += 1
  except:
    pass

  try:
    resultado[i].findall('div')[0].findall('div')[0].findall("strong")[0].text_content()
    cantidad_rating += 1
  except:
    pass

  try:
    resultado[i].findall('p')[3].findall("span")[1].text_content()
    cantidad_votos += 1
  except:
    pass

cantidad_nombres
cantidad_rating
cantidad_votos

print(f"Cantidad nombres: {cantidad_nombres} \nCantidad Rating: {cantidad_rating} \nCantidad Votos: {cantidad_votos}")

Cantidad nombres: 50
Cantidad Rating: 49
Cantidad Votos: 49

Gracias al script anterior se ve que hay una película que no cuenta con rating ni numero de votos. Por esto en el siguiente punto se imprimirán todos los nombres y cuando se presente un `IndexError` se imprimirá en pantalla el signo `-`.

## 3.2.6 Para cada búsqueda realizada: busquea_1, búsqueda_2 y búsqueda_3, revisa si la nueva lista obtenida tiene longitud mayor que cero y en caso positivo, selecciona el primer elemento de la lista y haz un print de su contenido de texto: `busqueda_1[0].text_content()`
---

In [ ]:
for i in range(len(resultado)):

  try:

    nombre = resultado[i].findall('h3')[0].findall("a")[0].text_content()
    rating = resultado[i].findall('div')[0].findall('div')[0].findall("strong")[0].text_content()
    votos  = resultado[i].findall('p')[3].findall("span")[1].text_content()

  except IndexError:

    print(f"Nombre: {nombre}".ljust(60), f"Rating: -".ljust(20), f"# Votos: -")

    continue

  print(f"Nombre: {nombre}".ljust(60), f"Rating: {rating}".ljust(20), f"# Votos: {votos}")

Nombre: Babylon                                              Rating: 7.3          # Votos: 90,326
Nombre: A Man Called Otto                                    Rating: 7.5          # Votos: 35,868
Nombre: The Menu                                             Rating: 7.2          # Votos: 263,062
Nombre: Puss in Boots: The Last Wish                         Rating: 7.9          # Votos: 96,859
Nombre: Bullet Train                                         Rating: 7.3          # Votos: 315,797
Nombre: The Unbearable Weight of Massive Talent              Rating: 7.0          # Votos: 104,518
Nombre: Death in Paradise                                    Rating: 7.8          # Votos: 23,340
Nombre: Haunted Mansion                                      Rating: -            # Votos: -
Nombre: Friends                                              Rating: 8.9          # Votos: 1,013,769
Nombre: Modern Family                                        Rating: 8.5          # Votos: 441,441
Nombre: Bones                                                Rating: 7.8          # Votos: 164,040
Nombre: Once Upon a Time in Hollywood                        Rating: 7.6          # Votos: 762,001
Nombre: The Bear                                             Rating: 8.4          # Votos: 84,654
Nombre: The Gentlemen                                        Rating: 7.8          # Votos: 351,953
Nombre: Cobra Kai                                            Rating: 8.5          # Votos: 190,946
Nombre: Knives Out                                           Rating: 7.9          # Votos: 713,415
Nombre: Ant-Man and the Wasp                                 Rating: 7.0          # Votos: 416,598
Nombre: Scrubs                                               Rating: 8.4          # Votos: 259,923
Nombre: The Goonies                                          Rating: 7.7          # Votos: 280,332
Nombre: Malcolm in the Middle                                Rating: 8.1          # Votos: 134,371
Nombre: Encanto                                              Rating: 7.2          # Votos: 230,745
Nombre: Mummies                                              Rating: 6.0          # Votos: 843
Nombre: Shazam!                                              Rating: 7.0          # Votos: 348,300
Nombre: The Lost City                                        Rating: 6.1          # Votos: 129,619
Nombre: Clueless                                             Rating: 6.9          # Votos: 225,820
Nombre: Puss in Boots                                        Rating: 6.6          # Votos: 176,080
Nombre: Spider-Man: Into the Spider-Verse                    Rating: 8.4          # Votos: 546,492
Nombre: A Man Called Ove                                     Rating: 7.7          # Votos: 60,837
Nombre: Deadpool 2                                           Rating: 7.7          # Votos: 594,868
Nombre: The Big Lebowski                                     Rating: 8.1          # Votos: 818,793
Nombre: Baywatch                                             Rating: 5.5          # Votos: 191,207
Nombre: Licorice Pizza                                       Rating: 7.2          # Votos: 123,356
Nombre: The Bad Guys                                         Rating: 6.8          # Votos: 45,641
Nombre: Bridesmaids                                          Rating: 6.8          # Votos: 296,675
Nombre: We're the Millers                                    Rating: 7.0          # Votos: 458,407
Nombre: Hustle                                               Rating: 7.3          # Votos: 127,393
Nombre: The 40-Year-Old Virgin                               Rating: 7.1          # Votos: 445,827
Nombre: 2 Broke Girls                                        Rating: 6.6          # Votos: 100,216
Nombre: Knight and Day                                       Rating: 6.3          # Votos: 200,332
Nombre: Major League                                         Rating: 7.2          # Votos: 71,743
Nombre: Red Notice                                           Rating: 6.3          # Votos: 284,598
Nombre: Are You                                              Rating: 5.7          # Votos: 1,187
Nombre: Coco                                                 Rating: 8.4          # Votos: 522,143
Nombre: Cashback                                             Rating: 7.1          # Votos: 88,509
Nombre: Big                                                  Rating: 7.3          # Votos: 226,901
Nombre: Grown Ups                                            Rating: 5.9          # Votos: 257,495
Nombre: Zombieland                                           Rating: 7.6          # Votos: 587,942
Nombre: Bardo: False Chronicle of a Handful of Truths        Rating: 6.7          # Votos: 11,938
Nombre: Step Brothers                                        Rating: 6.9          # Votos: 301,985
Nombre: Hercules                                             Rating: 7.3          # Votos: 237,477

Con el output anterior se puede ver que la película *Haunted Masion* es la pelicula que no tiene rating ni votos. Es importante tener este punto en cuenta ya que de no ser así se pueden crear un dataframe con registros falsos.

## 3.2.7 Guarda los resultados obtenidos de forma iterativa en un data frame que tenga como resultado 50 filas y las 3 columnas con los datos solicitados en el apartado 1.
---

In [ ]:
# Creación de las listas que formarán las columnas del dataframe

nombres = []
ratings = []
votos = []

for i in range(len(resultado)):

  try:
    nombres.append(resultado[i].findall('h3')[0].findall("a")[0].text_content())
  except:
    nombres.append(np.nan)

  try:
    ratings.append(resultado[i].findall('div')[0].findall('div')[0].findall("strong")[0].text_content())
  except:
    ratings.append(np.nan)

  try:
    votos.append(resultado[i].findall('p')[3].findall("span")[1].text_content())
  except:
    votos.append(np.nan)


# Creación del Dataframe a partir de las columnas

df_movies = pd.DataFrame(list(zip(nombres, ratings, votos)), columns=['Nombre', 'Rating', 'Votos'])


# Modificación del dtype de las variables 'Rating' y 'Votos'

df_movies['Rating'] = df_movies['Rating'].astype('float')
df_movies['Votos'] = df_movies['Votos'].str.replace(',', '').astype(float)

df_movies

                                           Nombre  Rating      Votos
0                                         Babylon     7.3    90326.0
1                               A Man Called Otto     7.5    35868.0
2                                        The Menu     7.2   263062.0
3                    Puss in Boots: The Last Wish     7.9    96859.0
4                                    Bullet Train     7.3   315797.0
5         The Unbearable Weight of Massive Talent     7.0   104518.0
6                               Death in Paradise     7.8    23340.0
7                                 Haunted Mansion     NaN        NaN
8                                         Friends     8.9  1013769.0
9                                   Modern Family     8.5   441441.0
10                                          Bones     7.8   164040.0
11                  Once Upon a Time in Hollywood     7.6   762001.0
12                                       The Bear     8.4    84654.0
13                                  The Gentlemen     7.8   351953.0
14                                      Cobra Kai     8.5   190946.0
15                                     Knives Out     7.9   713415.0
16                           Ant-Man and the Wasp     7.0   416598.0
17                                         Scrubs     8.4   259923.0
18                                    The Goonies     7.7   280332.0
19                          Malcolm in the Middle     8.1   134371.0
20                                        Encanto     7.2   230745.0
21                                        Mummies     6.0      843.0
22                                        Shazam!     7.0   348300.0
23                                  The Lost City     6.1   129619.0
24                                       Clueless     6.9   225820.0
25                                  Puss in Boots     6.6   176080.0
26              Spider-Man: Into the Spider-Verse     8.4   546492.0
27                               A Man Called Ove     7.7    60837.0
28                                     Deadpool 2     7.7   594868.0
29                               The Big Lebowski     8.1   818793.0
30                                       Baywatch     5.5   191207.0
31                                 Licorice Pizza     7.2   123356.0
32                                   The Bad Guys     6.8    45641.0
33                                    Bridesmaids     6.8   296675.0
34                              We're the Millers     7.0   458407.0
35                                         Hustle     7.3   127393.0
36                         The 40-Year-Old Virgin     7.1   445827.0
37                                  2 Broke Girls     6.6   100216.0
38                                 Knight and Day     6.3   200332.0
39                                   Major League     7.2    71743.0
40                                     Red Notice     6.3   284598.0
41                                        Are You     5.7     1187.0
42                                           Coco     8.4   522143.0
43                                       Cashback     7.1    88509.0
44                                            Big     7.3   226901.0
45                                      Grown Ups     5.9   257495.0
46                                     Zombieland     7.6   587942.0
47  Bardo: False Chronicle of a Handful of Truths     6.7    11938.0
48                                  Step Brothers     6.9   301985.0
49                                       Hercules     7.3   237477.0

In [ ]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  50 non-null     object
 1   Rating  49 non-null     float64
 2   Votos   49 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB